*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navsize{
    max-width: 1856px;
    width: 100%;
    background: #FBF9FF;
    padding: 12px 32px;
    margin-bottom: 131px;
    

}
.navisdiv{
    max-width: 1080px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.link-style {
    vertical-align: middle;
    
    
    
}
.displey-style{
    display: inline-block;
   

    margin-left: 32px;
    margin-top: 32px;
    

}
.fotomargin{
    margin-right: 200px;

}
.buttonstyle{

    border-radius: 8px;
    border: 1px solid #6941C6;
    background: #6941C6;
    padding: 8px 16px;
}

.displey-style a{
    margin-left: 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: #323232;
    
}
.buttonsize{
    max-width: 50px;
    width: 100%;
    padding: 8px 16px;
    text-align: right;
    display: inline-block;
    vertical-align: middle;

}
/*main*/
.divsazetwo{
    max-width: 1248px;
    width: 100%;
    padding: 96px;
    background: #F1E8FF;
    padding-bottom: 64px;
}
.divpadding{
    max-width: 1248px;
    width: 100%;
    padding: opx 32px 0px 32px;
    

}
.marginbottom{
    margin-bottom: 64px;
}
.divh{
    max-width: 259px;
    width: 100%;
    margin: 0 auto ;
}
h1{
    color: #181D27;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}
.divP{
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
}
.stylep{
    color: #535862;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}
.maindiv{
    max-width: 309px;
    width: 100%;
    padding: 40px 32px 32px 32px;
    background: #FFF;


}
.stylephwo{
    max-width: 117px;
    width: 100%;
    color: #6941C6;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin: 0 auto;

}
.stylethre{
    max-width: 309px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #181D27;
    font-size: 48px;
    font-weight: 600;
    margin-top: 16px;

    
}
.stylefor{
    color: #535862;;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 16px;
}
.stylefive{
    max-width: 273px;
    width: 100%;
    


}
.stylefive p{
    padding: 12px 18px;
    color: #FFF;
    font-size:16px;
    font-style: normal;
    font-weight: 600;
    border-radius: 8px;
    border: 2px solid ;
    background: #7F56D9;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 12px;


}
.stylesix{
    max-width: 273px;
    width: 100%;
    padding: 12px 18px;
    border-radius: 8px;
    border: 1px solid #D5D7DA;

background: #FFF;
}
.stylesix p{
    text-align: center;
    font-size: px;
    font-style: normal;
    font-weight: 600;

}
.displey-styleb{
    display: inline-block;
    vertical-align: middle;

}
.stylelist p{
    color: #535862;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

}
.imgstyle{
    margin-top: 16px;
}
.divsizebox{
    max-width: 309px;
    width: 100%;
   
    background: #FFF;
    padding: 40px 32px 40px 32px;
}
.borderstyle{
    max-width: 309px;
    width: 100%;
    border-radius: 16px;
    border: 1px solid #E9EAEB;
    background: #FFF;
    

}
.stylelistp{
    margin-left: 16px 12px;
    display: inline-block;
    vertical-align: middle;

}
/*queshen title*/
.maindiv2{
    max-width: 1248px;
    width: 100%;
    padding: 32px 0px;
    border-radius: 24px;
    background: #FFF;

}
.divsazemain{
    max-width: 768px;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;
}
.paddingqueshen{
    max-width: 704px;
    width: 100%;
    padding: 32px;
}
h2{
    color: #181D27;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    margin: 0 auto;
}
.queshentitle{
    color: #535862;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-top: 20px;
}
.fotostyle{
    vertical-align: middle;
    display: inline-block;
    margin-right: 24px;
}
.pstyle{
    vertical-align: middle;
    display: inline-block;

}
.pdiv{
    max-width: 656px;
    width: 100%;
    margin-left: ;

}
.p2style{

}